<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        width: 600px;
        height: 400px;
        background-image: url('https://www.w3schools.com/css/img_5terre_wide.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
      "
    >
      <div style="position: absolute; top: 100px; left: 50%; color: white">Hello World</div>
    </div>
  </body>
</html>
